<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="pl.edu.pw.pobicos.mw.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="pl.edu.pw.pobicos.mw.view.NetworkView"
            icon="resources/icons/network.gif"
            id="view.NetworkView"
            name="Network"/>
      <view
            allowMultiple="true"
            class="pl.edu.pw.pobicos.mw.view.VisualView"
            icon="resources/icons/visual.gif"
            id="view.VisualView"
            name="Trace">
      </view>
      <view
            class="pl.edu.pw.pobicos.mw.view.ApplicationsView"
            icon="resources/icons/trybiki.gif"
            id="view.ApplicationsView"
            name="Applications"/>
      <view
            class="pl.edu.pw.pobicos.mw.view.NodesView"
            icon="resources/icons/nodzik.gif"
            id="view.NodesView"
            name="Nodes"/>
      <view
            class="pl.edu.pw.pobicos.mw.view.AgentsView"
            icon="resources/icons/agencik.gif"
            id="view.AgentsView"
            name="Agents"/>
      <view
            allowMultiple="true"
            class="pl.edu.pw.pobicos.mw.view.HostsView"
            icon="resources/icons/serwerek.gif"
            id="view.HostsView"
            name="Hosts">
      </view>
      <view
            class="pl.edu.pw.pobicos.mw.view.SimulationView"
            icon="resources/icons/sim.gif"
            id="view.SimulationView"
            name="Simulation"/>
      <view
            class="pl.edu.pw.pobicos.mw.view.LogView"
            id="view.LogView"
            name="Log"/>
      <view
            class="pl.edu.pw.pobicos.mw.view.ConnectionView"
            id="view.ConnectionView"
            name="Connection"/>
   </extension>
   <extension
         id="mwproduct"
         point="org.eclipse.core.runtime.products">
      <product
            application="pl.edu.pw.pobicos_mw.application"
            name="POBICOS Middleware Simulator">
         <property
               name="appName"
               value="POBICOS Middleware Simulator">
         </property>
         <property
               name="startupProgressRect"
               value="7,97,327,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="windowImages"
               value="resources/icons/p_16.png,resources/icons/p_32.png,resources/icons/p_48.png,resources/icons/p_48.png,resources/icons/p_48.png">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="pl.edu.pw.pobicos.mw.Perspective"
            id="pl.edu.pw.pobicos_mw.perspective"
            name="Pobicos Perspective">
      </perspective>
   </extension>

</plugin>
