<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="pl.edu.pw.pobicos.ng.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="pl.edu.pw.pobicos.ng.Perspective"
            id="pobicos_ng.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="pl.edu.pw.pobicos.ng.view.NetworkView"
            id="view.NetworkView"
            name="NetworkView">
      </view>
      <view
            name="LogView"
            class="pl.edu.pw.pobicos.ng.view.LogView"
            id="view.LogView">
      </view>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="pl.edu.pw.pobicos_ng.application"
            name="POBICOS NG Simulator">
         <property
               name="appName"
               value="POBICOS NG Simulator">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="aboutImage"
               value="resources/icons/pobicos.png">
         </property>
         <property
               name="aboutText"
               value="Loading...">
         </property>
         <property
               name="windowImages"
               value="resources/icons/p_16.png,resources/icons/p_32.png,resources/icons/p_48.png,resources/icons/p_48.png,resources/icons/p_48.png">
         </property>
         <property
               name="startupProgressRect"
               value="7,97,327,15">
         </property>
      </product>
   </extension>

</plugin>
